body {
background-color: #e6e6fa;
background-image:url("../photos/cknight.jpg");
background-size: 2300px  1400px;
}
.container {
border: 3px solid black;
width: 1000px;
height: 1000px;
margin: auto;

}
.logo {
float: left;
width: 190px;
height: 150px;
margin: auto;
color:white;
background-color:#d19fe8;
background-image:url("../photos/chill.jpg");
background-size: 190px  150px;
}
.headright {
	width: 100px;
	background: url ("../photos/pb.jpg");
	height: 100px ;
	float: right;
}
.headright small{
	float: right;
	font-size: 16px;
	color; 
}
.headright label{
	float: right;
	font-size: 18px;
	color: 
}
.contact{
float: right;
width: 110px;
height: 150px;
margin: auto;
color: white;
background-color: #fff0f5 ;
background-image:url("../photos/about.jpg");
}
.headercon{
	width: 1000px ;
	height: 200px;
	position: relative;
}
.navigation{
float: left;
width: 1000px;
height: 40px;
margin: auto;
color: black;
background-color:#f8f8ff;
}
.navigation li{
	text-decoration: none;
	color: steelblue;
	margin: auto;
	display: inline-block;
	font-size: 15px;
}
.navigation li:hover{
	background-color: white;
}
.navigation a{
	 color: black;
	 padding-left: 50px;
	 padding-right: 50px;
	 text-decoration: none;
}
.flashcon{
	margin: 0 auto;
	width: 1000px;
	height: 300px;
	background: peach;
}
.midboxcon{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
.midbox1{
	margin: 0 auto;
	width: 300px;
	height: 300px;
	background-image: url("../photos/sick.jpg");
	float: right;
	}
.midbox2{
	margin: 0 auto;
	width: 400px;
	height: 300px;
	background-image: url("../photos/peppermint.webp");
	float: right;
	}
.midbox3{
	margin: 0 auto;
	width: 200px;
	height: 300px;
	background-image: url("../photos/gg.webp");
	float: left;
}
.flashimage{
float: left;
width: 100%;
height: 300px;
margin: auto;
color: black;
background-color: #fffacd;
}
.sidebar{
float: left;
width: 0px;
height: 200px;
margin: auto;
color:white;
background-color:#ffcba4;
}
.contentarea{
float: left;
width: 0px;
height: 0px;
margin: auto;
color: black;
background-color:#b0c4de ;
}
.footer{
float: left;
width: 1000px;
height: 210px;
margin: auto;
color:black;
background-color:#fffdd0 ;
background-image:url("../photos/ladyunicorn.jpg");
background-size: 1000px  210px;
}
.socials{
position: relative;
top: 50px;
}
.info{
float: bottom;
}
.skool{
float: bottom;
color: white;
}
.trans{
float: left;
width: 1000px;
height: 40px;
margin: auto;
color: black;
background-color:none;
}
.trans li{
	text-decoration: none;
	color: steelblue;
	margin: auto;
	display: inline-block;
	font-size: 17px;
}
.trans li:hover{
	background-color: white;
}
.trans a{
	 color: black;
	 padding-left: 50px;
	 padding-right: 50px;
	 text-decoration: none;
}
@media screen and (max-width: 425px) {
	
	.logo {

width: 100%;
height: auto; 
	}
     .contact{
width: 100%;
height: auto;
	}
     .contact img{
width: 100%;
height: auto;
	}
    .flashimage{
width: 100%;
height: auto;
display: none;
	}
    .navigation{
		
width: 100%;
height: auto;
display: block;
	}.navigation li{
	display: block;
	font-size: 6vw;
	}
     .container_skitter .image .image_main {
	width: 30%;
height: auto;
	 } .midboxcon{
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.midbox1{
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-image: url("../photos/sick.jpg");
	float: right;
	}
.midbox2{
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-image: url("../photos/peppermint.webp");
	float: right;
	}
.midbox3{
	margin: 0 auto;
	width: 100%;
	height: auto;
	background-image: url("../photos/gg.webp");
	float: left;
	}
   .footer .socials .trans {
   width: 100%;
height: auto;
display: block;
   
   }
.trans li{
	display: block;
	font-size: 6vw;
}
}